	.tabs_box {
		//padding: 40rpx 20rpx 26rpx 20rpx;
		padding: 34rpx 20rpx 26rpx 20rpx;
		background-color: #fff;
	}

	.scroll-Y {
		background-color: #dcdcdc;
		//height: calc(100vh - 117rpx);
		height: calc(100vh - 111rpx);
	}